@import "tailwindcss";

html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgba(230, 230, 230, 0.39);
}

b {
  color: #007aff;
  font-weight: 600;
}

[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}
